.navbar .navbar-toggler{
    color: rgba(0, 76, 255, 0.907);
    border: transparent;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar-brand:hover{
color:rgba(0, 76, 255, 0.907) ;
}
